# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# Environment Variables
.env

# Model Files
*.keras
*.h5

# Logs
*.log

# Database
*.db

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
